@import "../../../../shared/style.scss";

.record-div {
  border-style: solid;
  border-color: $folly_pink;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 20px;

  p {
    color: $folly_pink;
    font-size: 17.5px;
    margin-left: 3px;
  }

  button {
    width: 150px;
  }
}