@import "../../../../shared/style.scss";

.adjust-sound-effect-bar-div {
  width: 100%;
  border-color: $folly_pink;
  margin-top: 20px;
  margin-bottom: 20px;

  .adjust-rate-bar-div{
    button {
      margin-right: 20px;
    }
    p {
      display: inline;
    }
  }
}