$burgundy: #981F37;
$rusty_red: #DC2E3F;
$oxford_blue: #000022;
$snow: #FBF5F3; 


html, body {
  overflow-x: hidden;
}

body {
  background-color: $snow;
}

button {
  font-family: 'Courier New';
  font-size: 1.5rem;
  color: $snow;
  border-radius: 5rem;
  border: none;
  margin: 1px;
  padding: 5px;
}

.sound-collection {
  background-color: $burgundy;
  font-weight: 600;
}

.sound-button {
  background-color: $rusty_red;
  font-weight: 200;
}

h1 {
  font-family: 'Courier New';
  font-weight: 600;
}

.page-header {
  background-color: $oxford_blue;
}